<!DOCTYPE html>
<html>
  <head>
    <title>Joshmato</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-light bg-warning">
      <div class="container-fluid">
        <!-- Icon with Text below -->
        <a class="navbar-brand d-flex flex-column align-items-center" href="#"> 
          <i class="fa-solid fa-utensils fa-4x"></i> <!-- Increased Font Awesome Icon size -->
          <span class="h3 mt-2">JoshMato</span> <!-- Increased Text size -->
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <!-- Shift navbar items to the right -->
          <ul class="navbar-nav ms-auto">
            <!-- Home Icon and Home text in one line with increased size -->
            <li class="nav-item ms-3">
              <a class="nav-link d-flex align-items-center" href="/"> 
                <i class="fa-solid fa-house-chimney fa-2x me-2"></i> <!-- Increased Icon Size -->
                <span class="h4">Home</span> <!-- Increased Text Size -->
              </a>
            </li>

            <!-- About and About text in one line with increased size -->
            <li class="nav-item ms-3">
              <a class="nav-link d-flex align-items-center" href="/about"> 
                <i class="fa-solid fa-eject fa-2x me-2"></i> <!-- Increased Icon Size -->
                <span class="h4">About</span> <!-- Increased Text Size -->
              </a>
            </li>

            <!-- Recipes Icon and Recipes text in one line with increased size -->
            <li class="nav-item ms-3">
              <a class="nav-link d-flex align-items-center" href="/recipes"> 
                <i class="fa-solid fa-book-open-reader fa-2x me-2"></i> <!-- Changed to a different icon -->
                <span class="h4">Recipes</span> <!-- Increased Text Size -->
              </a>
            </li>

            <!-- Category Icon and Category text in one line with increased size -->
            <li class="nav-item dropdown ms-3">
              <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa-solid fa-table-list fa-2x me-2"></i> <!-- Increased Icon Size -->
                <span class="h4">Category</span> <!-- Increased Text Size -->
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="#">Veg</a></li>
                <li><a class="dropdown-item" href="#">Non-Veg</a></li>
                <li><a class="dropdown-item" href="#">Deserts</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <%= yield %>
      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="..." class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="..." class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="..." class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

  </body>
</html>
